<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventilation app</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <script src="/static/scripts/bower_components/Chart.js/Chart.min.js"></script>

    <script src="https://js.pusher.com/2.2/pusher.min.js"></script>
    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">Ventilation app</a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    <li>
                        <p class="navbar-btn">
                            <a href="/fanOn" class="btn btn-primary btn-large">ventilation on</a>
                        </p>
                    </li>
                    <li>|</li>
                    <li>
                        <p class="navbar-btn">
                            <a href="/eOn" class="btn btn-success btn-large">economy on</a>
                        </p>
                    </li>
                    <li>|</li>
                    <li>
                        <p class="navbar-btn">
                            <a href="/off" class="btn btn-danger btn-large">ventilation off</a>
                        </p>
                    </li>
                    <li>|</li>
                    
                    <li>
                        <p class="navbar-btn">
                            <a href="/eOff" class="btn btn-danger btn-large">economy off</a>
                        </p>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><span class="temp badge" id="random">0</span></li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        {% block content %}
        {% endblock %}
        <hr />
        <footer>
            <p>&copy; {{ year }} - My Flask Application</p>
        </footer>
    </div>


    
    {% block scripts %}{% endblock %}

    <script>

        // Enable pusher logging - don't include this in production
        Pusher.log = function (message) {
            if (window.console && window.console.log) {
                window.console.log(message);
            }
        };

        var pusher = new Pusher('873a24ad290781cb445c', {
            encrypted: true
        });

        var channel = pusher.subscribe('ventilation_channel');
        channel.bind('v_on', function (data) {
            alert(data.message);
        });

        channel.bind('off', function (data) {
            alert(data.message);
        });

        channel.bind('e_on', function (data) {
            alert(data.message);
        });

        channel.bind('e_off', function (data) {
            alert(data.message);
        });



    </script>
</body>
</html>
